#archives {
    margin: auto;
    padding: 20px;
}

#archives .categories-tags {
    position: relative;
    /* 相对定位 */
    display: flex;
    /* 使用flexbox布局 */
    flex-wrap: wrap;
    /* 允许换行 */
    justify-content: center;
    /* 内容居中 */
    margin-bottom: 50px;
    width: 100%;
    /* 确保宽度为100% */
    overflow-y: hidden;
}

#archives .categories-tags span {
    display: inline-block;
    margin: 10px;
}

#archives .categories-tags span .icon {
    color: #fff;
    margin-left: 0;
    margin-right: 10px;
}

#archives .categories-tags span a {
    border: #ffffff80 1px solid;
    border-radius: 10px;
    color: #fff;
    padding: 10px 15px;
    transition: background 0.25s, border 0.25s, color 0.25s;
}

#archives .categories-tags span a:hover {
    background: #fff !important;
    border: #a5c2f5 1px solid;
    color: #3057DA;
}

#archives .category,
#archives .tags .tag,
.article .info .category,
.article .info .tags,
.article .info .tags .tag {
    display: inline-block;
    margin-right: 10px;
}

#archives h3 {
    margin: 10px 0;
}

#crypto {
    margin: 50px 0;
}

#crypto.failure {
    border-color: #ea4a5a;
    color: #ea4a5a;
}

#crypto.failure:focus {
    box-shadow: 0 0 0 3px #ea4a5a4d;
}

#crypto.success {
    border-color: #34d058;
    color: #34d058;
}

#footer {
    font-size: 14px;
    margin-top: 150px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

#footer #footer-icon {
    color: #3057DA;
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
}

#footer #footer-wrap {
    border-top: 1px solid #aaa;
    color: #5c6b72;
    margin: auto;
    width: 900px;
}

#footer #footer-wrap div {
    margin: 15px;
}

#home-card {
    width: 300px;
}

#home-card #card-style {
    background: #fff5;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #d9d9d980;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    justify-content: center;
    overflow: auto;
    position: sticky;
    text-align: center;
    top: 10vh;
    width: 300px;
}

#home-card #card-div {
    overflow: auto;
    padding: 25px 0;
}

#home-card #card-div .avatar {
    border: #f1f1f1 solid 3px;
    border-radius: 50%;
    height: 140px;
    margin: auto;
    text-align: center;
    width: 140px;
}

#home-card #card-div .avatar img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#home-card #card-div .avatar:hover img {
    transform: rotate(360deg);
}

#home-card #card-div .description {
    margin: 20px auto;
    width: 85%;
}

#home-card #card-div .friend-links .friend-link {
    margin-bottom: 5px;
}

#home-card #card-div .friend-links a {
    border-radius: 5px;
    color: #3057DA;
    display: block;
    padding: 8px 0;
}

#home-card #card-div .icon-links .icon-link {
    margin: 5px;
}

#home-card #card-div .icon-links a {
    border-radius: 5px;
    color: #3057DA;
    font-size: 18px;
    padding: 5px;
}

#home-card #card-div .icon-links a:hover,
#home-card #card-div .friend-links a:hover,
#home-posts .page-current .page-num:hover {
    background: #3057DA;
    color: #fff;
}

#home-card #card-div .icon-links,
#home-card #card-div .friend-links {
    border-top: #cdcdcd solid 1px;
    margin: 10px auto;
    padding-top: 10px;
    width: 85%;
}

#home-card #card-div .name {
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto;
}

#home-head {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
}

#home-head #home-info .info {
    align-items: center;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    opacity: 80%
}

#home-head #home-info .loop:nth-child(1) {
    animation: loop1 10s linear infinite;
    background: #fff;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
    opacity: 0.3;
    transform: rotate(30deg);
    opacity: 20%
}

#home-head #home-info .loop:nth-child(2) {
    animation: loop2 15s linear infinite;
    background: #fff;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
    opacity: 0.45;
    transform: rotate(60deg);
    opacity: 20%
}

#home-head #home-info .loop:nth-child(3) {
    animation: loop3 10s linear infinite;
    background: #fff;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
    opacity: 0.3;
    transform: rotate(90deg);
    opacity: 20%
}

#home-head #home-info .loop:nth-child(4) {
    animation: loop4 15s linear infinite;
    background: #fff;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
    opacity: 0.45;
    transform: rotate(120deg);
    opacity: 20%
}

#home-head #home-info,
#home-posts {
    visibility: hidden;
    /*暂时隐藏一下*/
    margin: auto;
}

#home-posts .page-current {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#home-posts .page-current .current {
    border-radius: 5px;
    color: #da0a51;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 7px;
    padding: 5px;
    width: 35px;
}

#home-posts .page-current .page-num,
#home-posts .page-current .page-omit {
    border-radius: 5px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 7px;
    padding: 5px;
    width: 35px;
}

#home-posts .page-current a {
    color: #999;
}

#home-posts .post {
    background: #fff5;
    border-radius: 20px;
    box-shadow: 0 0 20px #d9d9d980;
    transition: box-shadow 0.25s, transform 0.25s;
}

#home-posts .post .category-and-date {
    color: #3057DA;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

#home-posts .post .category-and-date .category {
    display: inline-block;
    margin-right: 25px;
}

#home-posts .post .category-and-date .category a,
#archives a,
#archives .tag-icon,
#archives .item-time,
#archives .categories-tags span a:hover .icon,
.article .info a {
    color: #3057DA;
}

#home-posts .post .category-and-date .date,
#archives .tags,
#menu a span {
    display: inline-block;
}

#home-posts .post .category-and-date .special {
    display: inline-block;
    margin-left: 25px;
}

#home-posts .post .go-post {
    background: linear-gradient(120deg, #9abbf7 0%, #3057DA 100%);
    border: 0;
    border-radius: 20px 0;
    bottom: -5px;
    box-shadow: 2px 2px 10px 0 #ffbbf47a;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 24px;
    position: absolute;
    right: -5px;
    transition: box-shadow 0.25s ease-out, right 0.25s ease-out;
}

#home-posts .post .go-post:hover {
    box-shadow: -2px -2px 10px 0 #9abbf77a;
    right: -7px;
}

#home-posts .post .post-tags .tag {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}

#home-posts .post .post-tags a {
    font-size: 14px;
}

#home-posts .post .post-tags,
#archives .info,
.article .info {
    line-height: 1.7;
}

#home-posts .post-title {
    color: #3057DA;
    text-align: center;
}

#home-posts .post:hover {
    box-shadow: 0 0 5px #d9d9d9;
    transform: translate(-5px, -5px);
}

#home-posts-wrap {
    background: transparent;
    border-radius: 10px;
    display: flex;
    margin: 70px auto 0;
    padding: 20px;
}

#home-posts-wrap,
#archives,
.article,
#footer #footer-wrap {
    box-sizing: border-box;
}

#loading {
    align-items: center;
    background: rgb(255, 255, 255);
    background-image: url('../images/bg_dlc07_bg001_02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; /* Change 'fixed' to 'flex' */
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    word-break: keep-all;
    z-index: 2147483647;
}

#loading h2,
#loading p,
#loading img {
    margin: 10px;
}

#loading img {
    margin: 10px;
    border-radius: 50px;
    height: 200px;
    animation: rotate 10s linear infinite;
    transform: rotate(-30deg);
}

@keyframes rotate {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(405deg);
    }
}

#loading-circle {
    align-items: center;
    border: 10px solid transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 50vmin;
    justify-content: center;
    padding: 50px;
    text-align: center;
    width: 50vmin;
    position: absolute; /* Keep absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's size */
}

#main {
    margin-right: calc(100% - 100vw);
}

/* #menu {
    background: transparent;
    box-shadow: 0 -1px 10px 0 #9e9e9e4d;
    font-weight: bold;
    line-height: 50px;
    position: fixed;
    top: 0;
    transition: background 0.25s ease-out, top 0.25s ease-out;
    width: 100vw;
    z-index: 1004;
} */
#menu {
    perspective: 500px;
    font-weight: bold;
    font-size: 30px;
    /* 字体大小 */
    line-height: 70px;
    /* 行高 */
    display: flex;
    /* 使用 flex 布局 */
    position: fixed;
    /* 固定定位 */
    top: 50%;
    /* 垂直居中 */
    left: 52%;
    /* 水平居中 */
    transform: translate(-50%, -50%);
    /* 调整位置以实现真正的居中 */
    min-width: 100px;
    /* 设置最小宽度 */
    width: auto;
    /* 可以根据内容自适应宽度 */
    white-space: nowrap;
    /* 防止文本换行 */
    z-index: 1004;
}

#menu a {
    width: 125px;
    /* 固定宽度 */
    height: 290px;
    /* 固定高度 */
    padding: 30px;
    /* 内边距 */
    color: #ffffff;
    /* 字体颜色 */
    background-color: #fff5;
    /* 背景颜色 */
    display: inline-block;
    /* 内联块 */
    margin: 0 300;
    /* 设置左右间隔为0 */
    margin-left: 5px;
    /* 左边距 */
    position: relative;
    /* 使背景相对于链接的位置 */
    overflow: hidden;
    /* 隐藏超出部分 */
    font-size: 20px;
    /* 根据需要设置固定字体大小 */
}

.mid {
    position: fixed;
    /* 确保子元素定位相对 */
    height: 100vh;
    /* 设置容器高度为视口高度 */
    overflow: hidden;
    /* 隐藏溢出部分 */
    top: 0;
    /* 从顶部开始 */
    left: 0;
    /* 从左侧开始 */
}

.mid i {
    position: fixed;
    /* 固定定位 */
    width: 500px;
    /* 使用固定宽度 */
    height: 300px;
    /* 使用固定高度 */
    background-image: url('../images/quan.png');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个元素 */
    background-position: center;
    /* 背景图片居中 */
    display: flex;
    /* 使用 flexbox 布局 */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    pointer-events: none;
    /* 禁用鼠标事件，以便与其他元素交互 */

    /* 调整位置以向左上移动 */
    top: calc(50% - 150px);
    /* 向上移动一半的高度 */
    left: calc(50% - 270px);
    /* 向左移动一半的宽度 */
    transform: translate(-50%, -50%);
    /* 仍然保持元素的中心 */
}

.line {
    position: relative;
    bottom: 0;
    /* 确保子元素定位相对 */
    height: 100vh;
    /* 设置容器高度为视口高度 */
    overflow: hidden;
    /* 隐藏溢出部分 */
    z-index: 0;
}

.line>i:first-child {
    position: fixed;
    /* 固定定位，使其覆盖整个页面 */
    top: 0;
    /* 从顶部开始 */
    left: 0;
    /* 从左侧开始 */
    width: 99vw;
    /* 宽度为视口宽度 */
    height: 100vh;
    /* 高度为视口高度 */
    background-image: url('../images/bg-line-black.png');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个元素 */
    background-position: center;
    /* 背景图片居中 */
    display: flex;
    /* 使用 flexbox 布局 */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    pointer-events: none;
    /* 禁用鼠标事件，以便与其他元素交互 */
    opacity: 0.5;
}

.line>i:nth-child(2) {
    position: fixed;
    /* 固定定位，使其覆盖整个页面 */
    top: 0;
    /* 从顶部开始 */
    left: 0;
    /* 从左侧开始 */
    width: 99vw;
    /* 宽度为视口宽度 */
    height: 100vh;
    /* 高度为视口高度 */
    background-image: url('../images/bg-line.png');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个元素 */
    background-position: center;
    /* 背景图片居中 */
    display: flex;
    /* 使用 flexbox 布局 */
    justify-content: center;
    /* 水平居中内容 */
    align-items: center;
    /* 垂直居中内容 */
    pointer-events: none;
    /* 禁用鼠标事件，以便与其他元素交互 */
    opacity: 0.5;
}
.shadow {
    margin: 50px;
}
.parallax-item {
    position: relative;
    /* 使背景相对于链接的位置 */
    margin: 50px;
    display: inline-block;
    transition: opacity 0.5s ease, transform 0.1s ease; /* 添加多个过渡效果 */
    /* 增加过渡时间 */
    z-index: 0;
    border-radius: 10px;
}
.parallax-item.dimmed {
    opacity: 0.5; /* 变暗效果 */
}
.anti-parallax-item {
    position: relative;
    margin: 50px;
    display: inline-block;
    transition: transform 0.05s ease;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden; /* 确保伪元素不会超出边界 */
}

.anti-parallax-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px); /* 设置模糊效果 */
    z-index: 1; /* 放置在内容后面 */
    border-radius: 10px; /* 保持与主元素一致的圆角 */
}

.box1 {
    background-size: 450%;
    /* 使背景图像覆盖整个元素 */
    background-position: 75%;
    /* 居中背景图像 */
    background-repeat: no-repeat;
    /* 不重复背景图像 */
    width: 100%;
    /* 根据需要设置宽度 */
    height: 100vh;
    /* 高度设置为视口高度 */
}

.box2 {
    background-size: 450%;
    /* 使背景图像覆盖整个元素 */
    background-position: 75%;
    /* 居中背景图像 */
    background-repeat: no-repeat;
    /* 不重复背景图像 */
    width: 100%;
    /* 根据需要设置宽度 */
    height: 100vh;
    /* 高度设置为视口高度 */
}

.box3 {
    background-size: 450%;
    /* 使背景图像覆盖整个元素 */
    background-position: 75%;
    /* 居中背景图像 */
    background-repeat: no-repeat;
    /* 不重复背景图像 */
    width: 100%;
    /* 根据需要设置宽度 */
    height: 100vh;
    /* 高度设置为视口高度 */
}

.box4 {
    background-size: 450%;
    /* 使背景图像覆盖整个元素 */
    background-position: 75%;
    /* 居中背景图像 */
    background-repeat: no-repeat;
    /* 不重复背景图像 */
    width: 100%;
    /* 根据需要设置宽度 */
    height: 100vh;
    /* 高度设置为视口高度 */
}

.box5 {
    background-size: 450%;
    /* 使背景图像覆盖整个元素 */
    background-position: 75%;
    /* 居中背景图像 */
    background-repeat: no-repeat;
    /* 不重复背景图像 */
    width: 100%;
    /* 根据需要设置宽度 */
    height: 100vh;
    /* 高度设置为视口高度 */
}

#mobile-menu {
    display: fixed;
    position: relative;
    min-height: 50px;
    text-align: center;
}

#mobile-menu .items {
    display: flex;
    /* 确保使用 flex 布局 */
    flex-direction: column;
    padding: 10px 0 20px;
    z-index: 1002;
}

#mobile-menu .items .item {
    display: flex;
    justify-content: center;
    margin: auto;
    min-width: 200px;
    width: 80%;
}

#mobile-menu .items a {
    color: #3057DA;
}

#mobile-menu .title {
    background: #fff5;
    color: #3057DA;
    cursor: pointer;
    padding-inline: 10px;
    z-index: 1003;
    border-radius: 10px;
}

#menu-curtain {
    background: #fff5;
    /* 设定蓝色背景和透明度 */
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#menu.hidden {
    top: -50px;
}

#menu.menu-color {
    background: #0003;
}

#mobile-menu a,
#mobile-menu .title {
    color: #fff;
}

#preview {
    align-items: center;
    background-color: #fffc;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1005;
}

#preview-content {
    box-shadow: 0 0 50px 10px #d9d9d980;
    margin: auto;
    max-height: 95%;
    max-width: 95%;
}

#search-bar {
    display: none;
    margin-bottom: 50px;
    z-index: 1000;
}

#timeline-wrap {
    display: flex;
    overflow-y: auto;
    /* 允许垂直滚动 */
    position: flex;
    flex-direction: column-reverse;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    scrollbar-color: #8ab5ff #e6efff;
    scrollbar-width: thin;
    word-wrap: break-word;
}

.back {
    position: fixed;
    /* 固定定位 */
    right: 50px;
    /* 距离右边50像素 */
    top: 20px;
    /* 距离顶部20像素 */
    padding: 0px 40px;
    /* 调整内边距，变小 */
    font-size: 18px;
    /* 调整字体大小 */
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    /* 不重复背景图像 */
    background-position: 20px;
    background-size: 1.4em;
    user-select: none;
    color: #3057DA;
    border-radius: 10px;
    /* 圆角 */
    cursor: pointer;
    /* 鼠标悬停时显示为手型 */
    width: 70px;
    /* 设置宽度，形成长方形 */
    text-align: center;
    /* 文本居中 */
    transition: background-size 0.4s ease, background-position 0.4s ease;
    /* 添加过渡效果，持续时间增加 */
}

.back:hover {
    background-position: 10px center;
    /* 背景向左移动 */
    background-size: 1.6em;
    /* 放大背景图像 */
}

.back2 {
    position: fixed;
    /* 固定定位 */
    left: 50px;
    /* 距离左边50像素 */
    top: 20px;
    /* 距离顶部20像素 */
    padding: 0px 20px;
    /* 调整内边距，变小 */
    font-size: 18px;
    /* 调整字体大小 */
    background-repeat: no-repeat;
    /* 不重复背景图像 */
    background-position: left center;
    /* 背景图像左侧居中 */
    background-size: 1.4em;
    user-select: none;
    color: #3057DA;
    border-radius: 10px;
    /* 圆角 */
    cursor: pointer;
    /* 鼠标悬停时显示为手型 */
    width: 70px;
    /* 设置宽度，形成长方形 */
    text-align: center;
    /* 文本居中 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
    transition: transform 0.3s ease;
    /* 添加过渡效果 */
}

.back2:hover {
    transform: scale(1.1);
    /* 悬停时整体放大 */
}

.article {
    background-color: #fff8;
    font-size: 20px;
    /* 字体大小 */
    margin-top: 20px;
    /* 上边距 */
    padding: 50px;
    /* 内边距 */
    border-radius: 10px;
}

.article .content {
    margin: 30px 0;
    /* 上下边距 */
}

.article .info .date {
    color: #5c6b72;
    display: inline-block;
    margin-right: 5px;
    /* 右边距 */
}

.code-content {
    background-color: #fff5;
    font: bold;
    font-size: 15px;
    line-height: 2;
    overflow-x: scroll;
    /* 隐藏溢出内容 */
    padding: 50px 30px 20px;
    transition: opacity 0.5s ease;
    /* 添加过渡效果 */
    transform: scaleY(1);
    /* 初始状态 */
    opacity: 1;
    /* 初始状态 */
    white-space: pre;
}

.code-content.collapsed {
    transform: scaleY(0);
    /* 收起时缩放为0 */
    opacity: 0;
    /* 收起时透明度为0 */
    max-height: 0;
}

.comment iframe,
body::-webkit-scrollbar-track {
    border-radius: 0;
}

.content {
    overflow: hidden;
    transition: opacity 0.25s;
}

.content img,
.content video,
.content audio,
.content iframe {
    display: block;
    margin: 15px auto;
    max-width: 75%;
}

.copycode {
    color: #3057DA;
    position: absolute;
    right: 0;
    top: 0;
}

.copycode i {
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.25s;
}

.copycode.copied i {
    transform: scale(1.25);
}

.copycode.copied i:first-child,
.copycode:not(.copied) i:last-child {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.hljs-ln-code {
    font: bold;
    padding-top: 15px !important;
    padding-left: 20px !important;
}

.hljs-ln-numbers {
    font: bold;
    border-right: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding-right: 10px !important;
    text-align: right;
    vertical-align: top;
}

.icon {
    color: #3057DA;
    margin-right: 5px;
}

.input {
    background: #f6f8fa55;
    border: 1px solid #d0d7de;
    border-radius: 50px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 15px;
    height: 50px;
    text-indent: 20px;
    transition: background 0.25s, border 0.25s, box-shadow 0.25s;
    width: 100%;
}

.input:focus {
    background: #fff5;
    border-color: #0969da;
    box-shadow: 0 0 0 3px #0969da4d;
    outline: none;
}

.input:hover {
    background: #fff8;
}

.into-enter-active {
    transition: opacity 0.5s, transform 0.5s;
}

.into-enter-from {
    opacity: 0;
    transform: scale(1.1);
}

.katex {
    white-space: normal !important;
}

.language {
    background: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 0.75rem #ed6ea14d;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    left: 30px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
}

.toggle-button {
    background: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
    border: none;
}

.page-num,
.icon-link a,
.friend-link a {
    transition: background 0.25s, color 0.25s;
}

.page-num:hover,
.icon-link a:hover,
.friend-link a:hover,
.categories-tags a:hover,
.go-post:hover {
    opacity: 1;
}

.slide-enter-active,
.slide-leave-active {
    transition: margin-top 0.3s, opacity 0.3s;
}

.slide-enter-from,
.slide-leave-to {
    margin-top: -300px;
    opacity: 0;
}

.timeline {
    margin-bottom: 30px;
    transition: margin-top 0.5s, opacity 0.3s, visibility 0.3s;
}

.timeline-content {
    background: #fff6;
    border: 1px solid #0002;
    border-radius: 3px;
    margin-left: 17.5px;
    padding: 24px;
    transition: box-shadow 0.5s;
}

.timeline-content:hover {
    box-shadow: 0 2px 8px #00000017;
}

.timeline-tail {
    background: #fff;
    border: 2px solid #a5c2f5;
    border-radius: 50%;
    height: 7px;
    position: absolute;
    width: 7px;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #8ab5ff linear-gradient(45deg,
            #fff6 25%,
            transparent 25%,
            transparent 50%,
            #fff6 50%,
            #fff6 75%,
            transparent 75%,
            transparent);
    border: 3px solid #e6efff;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: #e6efff;
    border-radius: 100px;
}

::selection {
    background-color: #3392ff2a;
    color: unset;
}

a {
    color: #3057DA;
    text-decoration: none;
}

a:hover,
.content .copycode:hover {
    opacity: 1;
}

audio,
button,
iframe,
img,
video,
#home-head,
#menu,
.categories-tags a,
.copycode,
.friend-link a,
.go-post,
.hljs-ln-numbers,
.icon-link a,
.katex,
.language,
.page-current {
    user-select: none;
}

b,
strong {
    font-weight: bold;
    line-height: 2.5;
}

blockquote {
    background: #d9e8ff6b;
    border-left: 3px solid #1e3e3f;
    border-radius: 3px;
    margin: 15px 0;
    overflow: auto;
    padding: 0 15px;
}

/* #body {
    font: 500 14px Lexend, "Noto Sans SC", sans-serif;
    overflow-x: hidden;
    width: 100%;
} */
body {
    background-color: #fff5;
    background-position: center;
    /* 背景图居中 */
    background-repeat: no-repeat;
    /* 不重复背景图 */
    background-size: cover;
    /* 背景图覆盖整个页面 */
    background-attachment: fixed;
    /* 背景图固定 */
    height: auto;
    /* 设置 body 高度为视口高度 */
    margin: 0;
    /* 去掉默认的 margin */
    padding: 0;
    overflow-y: auto;
    /* 允许垂直滚动 */
    overflow-x: hidden;
    /* 允许垂直滚动 */
    display: flex;
    justify-content: center;
    align-items: center;
}

code {
    background: #bddcf76b;
    border-radius: 4px;
    line-height: 2.5;
    padding: 4px 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e3e3f;
    font-weight: bold;
    margin: 15px 0;
    word-break: keep-all;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

hr {
    border-style: dashed none none;
    border-width: 1.5px;
}

img,
video,
audio,
iframe {
    border-radius: 10px;
}

mark {
    background: #fff13360;
    border-radius: 4px;
    color: unset;
    line-height: 2.5;
    padding: 4px 8px;
}

p,
ul,
ol {
    line-height: 1.7;
    margin: 15px 0;
}

pre {
    border: 1px solid #ebeef5;
    border-radius: 15px;
    box-shadow: 0 2px 12px 0 #0000001a;
    margin: 25px 0;
    overflow: hidden;
    white-space: normal;
}

@font-face {
    font-family: 'snowbreak';
    /* 字体名称 */
    src: url('../font/Project_Snow_Titan_Font.ttf') format('truetype');
    /* 字体文件路径 */
    font-weight: normal;
    /* 字体粗细 */
    font-style: normal;
    /* 字体样式 */
}

@font-face {
    font-family: 'snowbreak2';
    /* 字体名称 */
    src: url('../font/GmarketSansTTFLight.ttf') format('truetype');
    /* 字体文件路径 */
    font-weight: normal;
    /* 字体粗细 */
    font-style: normal;
    /* 字体样式 */
}

pre,
code,
.hljs,
.input,
.language {
    font-family: "Fira Code", "Noto Sans SC", monospace;
}

table:not(.hljs-ln) {
    margin: 15px 0;
}

table:not(.hljs-ln) td:nth-child(even) {
    background: #c7e0fb4d;
}

table:not(.hljs-ln) td:nth-child(odd) {
    background: #d9e8ff4d;
}

table:not(.hljs-ln) th {
    background: #a3ddfb;
}

table:not(.hljs-ln) tr th,
table:not(.hljs-ln) tr td {
    border-radius: 3px;
    padding: 10px 20px;
}

ul li,
ol li {
    margin: 8px 0;
}

@keyframes loop1 {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(390deg);
    }
}

@keyframes loop2 {
    from {
        transform: rotate(60deg);
    }

    to {
        transform: rotate(420deg);
    }
}

@keyframes loop3 {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(450deg);
    }
}

@keyframes loop4 {
    from {
        transform: rotate(120deg);
    }

    to {
        transform: rotate(480deg);
    }
}

@media (min-width: 900px) {
    #home-head #home-info .info .wrap {
        padding: 25px;
    }

    #home-head #home-info .info .wrap h1 {
        font-size: 52px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #home-head #home-info .info .wrap h3 {
        font-size: 24px;
        margin: 10px 0;
    }

    #home-head #home-info .info .wrap h5 {
        font-size: 16px;
        margin: 20px 0;
    }

    #home-head #home-info .loop {
        display: inline-block;
        height: 500px;
        position: absolute;
        width: 500px;
    }

    #home-head #home-info,
    #home-head #home-info .info {
        height: 500px;
        width: 500px;
    }

    #home-posts {
        margin-right: 50px;
        width: 850px;
    }

    #home-posts .post {
        margin-bottom: 25px;
        padding: 50px;
    }

    #home-posts .post .description {
        font: bold;
        padding: 20px 0;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        /* 字体阴影 */
    }

    #home-posts-wrap {
        max-width: 1200px;
    }

    #mobile-menu {
        display: none;
    }

    .article,
    #archives,
    #footer #footer-wrap {
        width: 900px;
    }

    .home-posts-wrap-no-card #home-posts {
        margin: auto;
    }

    ul,
    ol {
        padding-left: 40px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    #home-card {
        display: none;
    }

    #home-posts {
        width: 100%;
    }

    #home-posts-wrap,
    #archives {
        width: 800px;
    }
}

@media (max-width: 1000px) {
    #home-head #home-info {
        height: 350px;
        width: 350px;
    }

    #home-head #home-info .info {
        align-items: center;
        background: #ffffffa6;
        display: flex;
        height: 350px;
        justify-content: center;
        margin: auto;
        width: 350px;
    }

    #home-head #home-info .info .wrap {
        padding: 50px;
    }

    #home-head #home-info .info .wrap h1 {
        font-size: 46px;
        margin-bottom: 10px;
    }

    #home-head #home-info .info .wrap h3 {
        font-size: 20px;
        margin: 10px 0;
    }

    #home-head #home-info .info .wrap h5 {
        font-size: 14px;
        margin: 20px 0;
    }

    #home-head #home-info .loop {
        display: none;
        height: 350px;
        position: absolute;
        width: 350px;
    }

    #home-posts {
        margin: auto;
        width: 100%;
    }

    #home-posts .post {
        margin-bottom: 30px;
        padding: 20px 30px;
    }

    #home-posts .post .description {
        padding: 20px 0;
    }

    #home-posts .post .post-tags {
        padding-right: 69px;
    }

    #home-posts-wrap,
    .article,
    #archives,
    #footer #footer-wrap {
        width: 100%;
    }

    #menu,
    #line,
    #home-card {
        display: none;
    }

    #mobile-menu {
        display: block;
    }

    ul,
    ol {
        padding-left: 20px;
    }
}

#toc {
    position: fixed;
    left: -25px;
    top: 50px;
    font-size: 15px;
    width: auto;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
}

#toc ol.toc {
    background-color: #fff5;
}

#toc a.toc-link {
    color: #ffffff;
}

#toc a.active {
    font-weight: bold;
    color: #3057DA;
}